

* {
  font-family: 'Segeo UI', 'Roboto', sans-serif;
}
body {
  text-align: center;
}

h1 {
  padding: 10px;
  font-size: 3rem
}

/* navbar */

.navbar_container{
  padding: 10px;
  padding-left: 30px;
}


.brand_name {
  font-family: 'Oswald', sans-serif;
  font-size: 1.3rem;
}

/* home */
.cv-download{
  margin-top: 5%;
  float: right;
}

@media only screen and (max-width: 990px) {
 .cv-download {
   margin-top: 10%;
   }
 }

.home_section {
  text-align: center;
  background-color: white;
  margin-top: 5%;
}

.home_image {
  position: relative;
  width: 100%;
}

.intro-row {
  padding-top: 5%;
}

.home_section span {
  color : green;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: bolder;
  font-size: 1.4rem;
}

/* skills */

.skills_section {
  background-color: #0f2e44;
  padding-top: 100px;
  padding-bottom: 100px;
}

.skill-row {
  width: 50%;
  margin: 60px auto 60px auto;
  padding: 10px;
  line-height: 2;
  text-align: left;
  padding-top: 5px
}


.skills h2 {
  color: white;
  font-size: 3rem;
  text-decoration: overline;
}

.skills h4 {
  color: white;
  font-size: 1.5rem;
}

.skills p {
  color: white;
}

.click-here-link{
  font-weight: bolder;
  color: white;
  text-decoration: overline;
}

.click-here-link:hover{
  color: crimson;
}
/* .designs_section {
  background-color: white;
  padding-top: 150px;
  padding-bottom: 100px;
}

.designs_section img {
  width: 120%;
  position: relative;
}

.designs_section .row div {
  padding: 0px;
} */

/* python projects */
.python_projects {
  background-color: white;
  padding-top: 150px;
  padding-bottom: 100px;
}

.carousel-caption {
  background: rgba(23, 45, 66, 0.6)
}

.carousel-caption-links {
  color: black;
  padding-left: 10px;
}

/* contact */

.contact-me {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 80px;
}

.contact-me .container {
  width: 45%;
  margin: 60px auto 60px auto;
  line-height: 2.5;
  justify-content: center;
}

.contact-me h2 {
  font-size: 3rem;
  text-decoration: overline;
  margin-bottom: 35px;
}

.contact-me h5 {
  margin-bottom: 25px
}

.btn:hover {
  background: #222831;
  text-decoration: none;
}



/* footer */
.footer {
  background-color: #0f2e44;
  padding-top: 30px;
  padding-bottom: 45px;
}
.footer-link {
  text-decoration: none;
  padding: 15px;
  font-weight: 500;
  color: white;
}

.footer-link:hover {
  text-decoration: underline;
  color: grey;
}
.footer p {
  color: white;
  position: relative;
  padding-top: 20px;
  font-size: 0.75rem;
  margin-bottom: 0;
}
